body, a:hover {
    cursor: url(http://cur.cursors-4u.net/games/gam-10/gam987.ani), url(http://cur.cursors-4u.net/games/gam-10/gam987.png), progress !important;
}
html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
	text-align: center;
    font-family: "Calibri MS", "Calibri" cursive;
    background-color: black;
    color:cornflowerblue;
    height: 100%;

}

#bgtiles {
	position: fixed;
	background-image: url(../Background/bg-tiles.png);
	background-position: top center;
	z-index: -1;
	top: 0; left:0;
	width: 100%;
	height: 100%;
}
.bgsprite {
	position: fixed;
	z-index: -2;
	display: none;
}
ul{
    text-align: center;
}
